<!DOCTYPE html>
<body lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Go Forum</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
            integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <body>

        <div>
            <div class="row">
                <div class="col-md-4 offset-md-4" style="margin-top: 20px;">
                    <div class="card" style="margin-top: 20px; margin-bottom: 20px;">
                        <div class="card-header text-white bg-primary">
                            登入
                        </div>
                        <form action="#" method="POST" enctype="multipart/form-data" style="margin: 20px 20px;">
                            <div class="form-group" id="group-email">
                                <input class="form-control" name="email" id="email" type="email" required
                                    placeholder="信箱" size="sm">
                                </input>
                            </div>

                            <div class="form-group" id="group-password">
                                <input class="form-control" name="password" id="password" type="password" required
                                    placeholder="密碼" size="sm">
                                </input>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block" disabled>登入</button>
                        </form>
                        <div style="margin:0px 20px 10px;">
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-block form-control" href="/oauth/google/login"
                                        style="background-color: #D44638; color: white;"><i
                                            class="fa fa-google"></i></a>
                                </div>
                                <div class="col ">
                                    <a class="btn btn-block form-control" href="/oauth/facebook/login"
                                        style="background-color: #3b5998; color: white;"><i
                                            class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    </body>

</body>